port=5000
MONGODB_URI=mongodb+srv://WMT:WMT@cluster1.iwj17yr.mongodb.net/aurudu?retryWrites=true&w=majority
CLOUDINARY_NAME=dtnsg3h1n
CLOUDINARY_API_KEY=875369874173343
CLOUDINARY_API_SECRET=Gh4_l30Mo5cOs_XWJozFyzPNDqs
JWT_SECRET=replace-with-a-secure-secret
STAFF_EMAIL=staff@example.com
STAFF_PASSWORD=StrongPassword123
VOTING_END=2026-01-05T06:00:00.000Z
